.App {
  background-color: rgb(230, 230, 230);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  min-height:100vh;  
  margin:0;
}


//Navigation

.navigation {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: block;
  border-bottom: solid  rgb(10, 119, 37) 2px;
  .logo {
   width: 210px;
   cursor: pointer;
  }
}
.menu {
  width: 85%;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0;
  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    a{
      text-decoration: none;
      color: rgb(4, 77, 52);
      font-size: 17px;
      position: relative;
      padding: 0 5px;
    } 
  }
  ul li a:after{
    content:"";
    position:absolute;
    background-color:forestgreen;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.2s;
  }
  ul li a:hover:after {
    width:100%; 
}
}


//content
.content{

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20vh;
    border-bottom: 1px solid green;
   
    
   .container-left{
    
    

    .profile{
      width: 30em; 
    }
   }
    .container-right{
      background-color: white;
      border: 1px solid green;
      border-radius:2%;
      text-align: center;
      padding:3%;
      height: max-content;
      left:50%;
      top:40%;
      right:10%;
      position:absolute;
      p{
        color: rgb(4, 77, 52); 
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;

      }
    }
  }
}


//footer

.footer {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: rgb(59, 59, 59);
  border-top: solid  rgb(10, 119, 37) 2px;
  p{
    text-align: center;
    color: rgb(209, 207, 207);
    padding: 0.9%;
  }
  .socials{
    justify-content: space-between;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    a{
      display: inline-block;
      text-decoration: none;
      color: rgb(209, 207, 207);
      font-size: 20px;
      margin-right: 10px;
      margin-top: 30px;
      transition: transform 0.5s;
      justify-content: center;
    }
    a:hover {
      color: green;
      transform: translateY(-5px);
  }
}
}